#title { 
   
    background-color: #FB2576;
    
    
}
body  {
    font-family: "Montserrat";
}
h1 { 
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
    line-height: 1.3;
    color: wheat;
}
h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 800;
}
h3 { 
    font-family: "Montserrat-Bold";
    font-size: 35px;
}
p {
    color: #555454;
    font-size: 20px;
}
.container-fluid { 
    padding: 3% 15% 0%;
}


.lefth1-main { 
    font-weight:900;
    font-size: 85px;
    
   
}
/* Navigation bar  */

.navbar { 
    padding: 0 0 5.5rem ;

} 
.navbar-brand { 
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
}
.nav-link{ 
    color: wheat;
    font-family: "Montserrat-Light";
    font-size: 1.4rem;
    
}
.nav-item { 
    padding: 0 18px;
}

/* Download Button  */
.download-button { 
    margin: 5% 3% 5% 0%;
}
/* title image  */
.title-image {
    padding-left: 10%;
    width: 65%;
    transform: rotate(25deg);
    
    
}
/* explainimage */

.explainimage
 {
    width: 65px;
    
 }
 /* features section */

 #features { 

    padding: 7% 15%;
    background-color: white;
 }
.feature-box { 
    text-align: center;
    padding: 5%;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover { 
    color: rgb(255, 0, 0);
    
}
/* Testimonials  */
#testimonials { 
    text-align: center;
    padding: 7% 15%;
    background-color: #ef8172;
    color: #fff;
}
#testimonials > em { 
    color: white;
    font-size: 30px;
    font-weight: 400;
}
.testimonial-image { 
    width: 15%;
    border-radius: 100%;
    margin: 20px;
    
}
#press { 
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    
}
#press > img { 
    
    margin: 20px 20px 50px;
    width: 20%;
}
.carousel-item {

    padding: 7% 15%;
}
/* Cards  */
#pricing { 
    padding: 100px;
    text-align: center;
}
.card-pricing { 
    padding: 3% 2%;
}
.card-header { 
    background-color: #C9EEFF;
}

/* media query  */
@media (max-width:1000px) { 
    
    #title { 
        text-align: center;
    }
}
@media (max-width:1300px) { 
    .title-image {
        transform: rotate(0);
      
    }
}
#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 15%;
    font-weight: 900;
    font-family: "Montserrat-Black";
    
}
#cta  h3 { 
    padding-top: 1.5rem;
    font-size: 4rem;
    
}
.download-button1,.download-button2 { 
   margin-top: 3rem;
   margin-left: 2rem;
}
.copyright { 
    text-align: center;
    color: white;
    font-size: 20px;
}
.img-copyright { 
    text-align: center;
}
.img-cr {
 width: 30px;
 margin-left: 2%;
 
}
